@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");


:root {
  --couleur_bandeau_fond: #1A1E23;
    --couleur_bandeau_texte: #198CE6;
    --couleur_bouton_fond: #008CBA;
     --couleur_footer_fond: #F9FAFB;
  
}

.header1 {
  display: flex;
  height: 100px;
justify-content: space-between;
  align-items: end;
  text-align: center;
  background: var(--couleur_bandeau_fond);
}


.logo1 {
  align-items: center;
     position: absolute;
    left: 0px;
    top: 0px;
height : 100px;;

}

ul {
  display: flex;
  flex-direction: row;
  align-items: end;
  list-style-type: none;
}
ul li {
  padding: 10px ;
}
ul li a {
  --fill-color: var(--couleur_bandeau_texte);
  position: relative;
  display: block;
  padding: 4px;
  font: 700 x-large Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--fill-color);
  background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  transition: 0.5s linear;
}
ul li a:hover {
  background-size: 100%;
}



@media all and (max-width: 991px)
{
.header1 {
height : 20%;
  align-items: cengter;
        
}
.logo1 {
	  width : auto;
max-height : 20%;;
}

   nav
    {
        height: auto;
    }
 
    nav ul
    {

        flex-direction: column;

    
    }
 
    ul li {
  padding: 1px ;
  margin-right:20px;
}
}




