@charset "ISO-8859-1";

:root {
  --couleur_bandeau_fond: #1A1E23;
  --couleur_bandeau_texte: #198CE6;
}



h1{
	text-align : center;
	color : var(--couleur_bandeau_texte)
}
.contenant{
	  display: flex;
  align-items: space-around;
  justify-content: center;
  flex-direction: row;
}

.contenant2{

    display: flex;
    align-items: space-around;
    justify-content: center;
    flex-direction : column;
    
}

.contenu{
	display: flex;
	margin:10px;
	padding:10px;
}

.article{
	  display: inline-block;

	width: 30%;
    margin-top : 20px;
    margin-bottom : 20px;
        margin-left: auto;
    margin-right: auto;
    padding-right : 80px;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    border: 5px solid var(--border);
    border-radius: 10px;
    background-color: white;
    color: var(--couleur_bandeau_fond);
}