<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ENI_Encheres</display-name>
  <welcome-file-list>
    <welcome-file>Accueil</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>VoirProfil1</display-name>
    <servlet-name>VoirProfil1</servlet-name>
    <servlet-class>fr.eni.ENI_Encheres.controleurs.VoirProfil1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoirProfil1</servlet-name>
    <url-pattern>/VoirProfil1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoirProfil2</display-name>
    <servlet-name>VoirProfil2</servlet-name>
    <servlet-class>fr.eni.ENI_Encheres.controleurs.VoirProfil2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoirProfil2</servlet-name>
    <url-pattern>/VoirProfil2</url-pattern>
  </servlet-mapping>

</web-app>